/* mobile and tablet are code start  */
@media screen and (min-width: 280px) and (max-width: 768px) {
    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    }

    #logo {
        color: white;
    }

    #Navbar ul li a {
        color: white;
    }

    #all_list  li {
        font-size: 17px;
        
    }

    #icon {
        color: white;
    }
    
    
    #Navbar {
        background-color: rgb(0, 89, 255);
        position: fixed;
        width: 100%;
    }

    #art-area {
        margin-top: 60px;
        padding: 15px 10px;
    }



    #button-design button {
        background-color: rgb(252, 5, 50);
        color: white;
        border: none;
        font-size: 14px;
        border-radius: 10px 20px 10px 0px;
        padding: 5px 15px;

        
    }

    #rapido-img img {
        padding-bottom: 20px;
        width: 80%;
        height: 230px;
        border-radius: 10px 20px 10px 0px;

    }
    
    #article-area img {
        width: 80%; 
        height: 230px;   
    }

    #article-area h2 {
        margin-top: 20px;
        font-size: 22px;
    }

    #article-area p {
    font-size: 19px;
    padding: 20px 0px;
    }

    #button-design button {
        margin-bottom: 20px;
    }

    #four-icon {
        text-align: center;
        background-color: rgb(254, 234, 209);
        padding: 20px 8%;
        margin-top: 20px;
        margin-bottom: 20px;        
        border-radius: 100px 50px;
    }

    #i-con {
        background-color: white;
        width: 40%;
        overflow: hidden;
        height: auto;
        border-radius: 50%;
        margin: 6px 2%;
    }

    #i-con h3 {
        font-size: 13px;
    }

    #i-con img {
        padding: 10px 0px 10px;
        width: 50px;
        height: auto;
    }


    #three-are img {
        width: 80%;
        height: auto;
    }

    #three-are h4 {
        margin: 10px 2px;
    }

    #art-area img {
        width: 100%;
        height: 350px;
        border-radius: 40px 15px 50px 10px;
    }


    #foot {
        padding: 20px 10%;
        width: 100%;
        background-color: rgba(1, 18, 30, 0.839);
    }

    #foot div {
        padding: 15px 0px;
    }

    #foot h4 {
        color: white;
        text-align: center;
        
    }

    #foot a {
        text-decoration: none;
        color: white;
        text-align: center;
        display: block;
        margin: 17px 2px;
        font-size: 17px;
    }

    #foot h3 {
        text-align: center;
        color: white;
    }

    #foot p {
        text-align: justify;
        color: white;
    }

    #copyright {
        text-align: center;
        padding: 7px 10%;
        background-color: rgb(0, 0, 0);
        color: white;
        

    }

    #copyright i {
        font-size: 23px;
        margin: 2px 10px 0px;
    }
 



  }

/* mobile and tablet are code end  */

 /* laptop and tablet screen code start here  */
@media screen and (min-width: 769px) and (max-width: 1600px) {
    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    #logo {
        color: white;
        margin-right:20%;
    }


    #Navbar {
        background-color: rgb(0, 89, 255);
        position: fixed;
        width: 100%;
        height: auto;
    }

    #Navbar a {
        color: white;
    }

    #all_list  li {
        margin: 0px 10px;
        font-size: 17px;
    }

    #all_list  li a:hover  {
        background-color:red;
        border-radius: 10px;
    }

    #artcle-area {
        margin-top: 35px;
        padding: 40px 10px;
    }


    #article-area h2 {
        font-size: 22px;
        margin-top: 25px;
    }

    #button-design button {
        background-color: rgb(252, 5, 50);
        color: white;
        border: none;
        font-size: 14px;
        border-radius: 10px 20px 10px 0px;
        padding: 5px 15px;

        
    }

    #four-icon {
        text-align: center;
        background-color: rgb(254, 234, 209);
        padding: 50px 20px;
        margin-top: 20px;
        border-radius: 100px 50px;
    }

    #three-are h3 {
        font-size: 18px;
    }

    #para {
        padding: 10px;
        font-size: 15px;

    }

    #i-con {
        background-color: white;
        width: 20%;
        overflow: hidden;
        height: 200px;
        border-radius: 50%;
        margin: 5px 2%;
    }

    #i-con h3 {
        font-size: 19px;
    }

    #i-con img {
        padding: 20px 0px 10px;
        width: 60px;
        height: auto;
    }

    #rapido-img {
        padding: 0px 20px;
        margin-top: 70px;
        

    }

    #rapido-img img {
        width: 100%;
        height: auto;
        border-radius: 50px 10px 50px 10px;
    }

    .anubhav {
        width: 100%;
        height: auto;
        border-radius: 100px;
        border: 2px solid rgb(0, 0, 0);

    }

    #three-are {
        margin: 30px 2%;
        padding: 40px 0px;
        text-align: center;
    }

    #three-are p {
        text-align: center;
        padding: 10px 10%;
        font-size: 18px;
        
    }

    #three-are img {
        width:50%;
        height: 250px;
        border-radius: 100px;
        padding: 2px 30px;
    }

    #foot {
        padding: 20px 10%;
        width: 100%;
        background-color: rgba(1, 18, 30, 0.839);
    }

    #foot a {
        text-decoration: none;
        color: white;
        display: block;
        margin: 17px 2px;
        font-size: 17px;
    }

    #foot h3 {
        text-align: center;
        color: white;
    }

    #foot p {
        text-align: justify;
        color: white;
    }

    #copyright {
        text-align: center;
        padding: 7px 10%;
        background-color: rgb(0, 0, 0);
        color: white;
        

    }

    #copyright i {
        font-size: 23px;
        margin: 2px 10px 0px;
    }
 


}





 

 /* laptop and tablet screen code end here  */
